<!-- Main Content -->
<main class="main-index">
    <!-- Background Image -->
    <div class="main-index-background" style="background-image: url('/images/imagen_superheres.webp')"></div>
    <!-- agregar opacidad sobre la imágen de fondo -->
    <div class="main-index-overlay"></div>
    <!-- contenido principal -->
    <div class="main-index-content">
        <a href="/api/heroes/dashboard" class="main-index-button btn-secondary" >
            <p>Bienvenidos al Sitio de Superherores</p>
            <p style="text-align: center;">Grupo 12</p> 
        </a>
    </div>
</main>