<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba 3</title>
</head>
<body>
    <%- include('partials/header') %> <!--- Va el encabezado-->

<main>
    <h2>Bienvenido  a mi Site</h2>
    <p>Aqui van nuestros productos y servicios</p>
</main>
</body>
</html>