<main class="main-container">
    <section>
            <div><h2 class="title-form">Quienes somos</h2></div>
            <div class="form-dark">
            <div>
                <p>
                    <strong>
                    Somos integrantes del equipo 12 de la Diplomatura de Desarrollo Web Full Stack, 
                    dictado por la U.N.Ca. y el Nodo Tecnológico de la Municipaidad de la capital
                    </strong>
                </p>
                <br>
                <br>
                <p>El equipo está compuesto por los siguientes integrantes:</p>
                <br>
                
                <div class="flex flex-wrap">
                    <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                      <div class="px-6">
                        <img
                          alt="Luis Acosta"
                          src="/images/luis_acosta.jpg"
                          
                          style="max-width: 100px;"
                        />
                        <div class="pt-5 text-center">
                          <h5 class="text-xl font-bold text-center">Luis Acosta</h5>
                        </div>
                      </div>
                    </div>
                    <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                      <div class="px-6">
                        <img
                          alt="Gabriel Lobo"
                          src="/images/gabriel_lobo.enc"
                          
                          style="max-width: 100px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold">Gabriel Lobo</h5>
                        </div>
                      </div>
                    </div>
                    <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-3">
                      <div class="px-6">
                        <img
                          alt="Mario Alaniz"
                          src="/images/mario_alaniz.jpg"
                          style="max-width: 100px;"
                        />
                        <div class="pt-6 text-center">
                          <h5 class="text-xl font-bold">Mario Alaniz</h5>
                        </div>
                      </div>
                    </div>
                    <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-3">
                        <div class="px-6">
                          <img
                            alt="José Rizo"
                            src="/images/jose_rizo.jpeg"
                            style="max-width: 100px;"
                          />
                          <div class="pt-6">
                            <h5 class="text-center font-bold" >José Rizo</h5>
                          </div>
                        </div>
                      </div>
    
            </div>    
        </div>
    </section>
</main>